# ==================== DATABASE ====================
DB_URL=jdbc:postgresql://localhost:5432/wardrobe_fashion_db
DB_USERNAME=nghiadev
DB_PASSWORD=nghia

# ==================== APPLICATION ====================
PORT=8080
SPRING_PROFILE=dev
SHOW_SQL=false
INDENT_OUTPUT=false

# ==================== REDIS ====================
REDIS_HOST=localhost
REDIS_PORT=6379

# ==================== JWT ====================
JWT_SECRET_KEY=WMj2sKm0B0wY9HQalR73GJ4KILEjoHKmQRTEvIJsZJG
JWT_ACCESS_TOKEN_EXPIRATION=86400000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# ==================== OAUTH2 GOOGLE ====================
GOOGLE_CLIENT_ID=998694839236-hsd608q7li7teq7dcu1fgpo21amdp8tl.apps.googleusercontent.com

# ==================== CLOUDINARY ====================
CLOUDINARY_NAME=ddeiyeqkh
CLOUDINARY_API_KEY=696271568948523
CLOUDINARY_API_SECRET=yVIBobcYo93CZxaB_j5PRJYMI8g

# ==================== FIREBASE ====================
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY=your-firebase-private-key
FIREBASE_CLIENT_EMAIL=your-firebase-client-email

# ==================== EMAIL (SMTP) ====================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=nghiameow125@gmail.com
MAIL_PASSWORD=yurd occj feaq owgu

# ==================== LOGGING ====================
LOG_LEVEL=DEBUG
